{% extends "base.html" %}

{% block title %} Додавання студентів {% endblock title %}

{% block content %}
  <div class="add-form">
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label">name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="surname" class="col-sm-2 col-form-label">surname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="surname">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="surname" class="col-sm-2 col-form-label">group</label>
      <div class="col-sm-10">
        <select name="groups" id="groups-big">
          {% for group in groups %}
            <option value="group-{{group.id}}">{{group.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <button type="button" class="btn btn-primary" id="addStudent">Додати</button>
  </div>
{% endblock content %}

{% block js %}
  <script type="module" src="{{ url_for('static', filename='addStudent.js') }}"></script>
{% endblock js %}
