{% extends "base.html" %}

{% block title %} Розклад {% endblock title %}

{% block content %}
  <div class="centered">
    <select name="groups" id="groups">
      {% for group in groups %}
      <option value="group-{{group[0]}}">{{group[1]}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="centered">
    <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <th scope="col">День</th>
          <th scope="col">Пара</th>
          <th scope="col">Назва</th>
          <th scope="col">Опис</th>
        </tr>
      </thead>
      <tbody id="content-list">
        {% for subject in schedule %}
          <tr class="group-{{ subject.groupId }}">
            <td>{{ subject.day }}</td>
            <td>{{ subject.pair }}</td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block js %}
  <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock js %}
